{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/home.css" />
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="left-pane col-xs-12 col-sm-8 col-md-9">
            <div class="page-header">
                <h3 class="col-xs-10">Shopping Rounds</h3>

                <button type="button" id="btn_new_round"
                    class="btn btn-success pull-right">
                    <i class="fa fa-calendar"></i>
                    <span class="hidden-xs hidden-sm">New Round</span>
                </button>

                <div class="clearfix"></div>
            </div>

            <div>
                No rounds scheduled
            </div>
        </div>

        <div class="right-pane hidden-xs col-sm-4 col-md-3">

            <div class="to-buy">

                <div class="page-header">
                    <h3 class="col-xs-9">Items to Buy</h3>

                    <div class="clearfix"></div>
                </div>

                <div>No items need buying</div>

            </div>

            <div class="running-out">

                <div class="page-header">
                    <h3 class="col-xs-12">Items Running Out</h3>

                    <div class="clearfix"></div>
                </div>

                <div>No items running out</div>

            </div>

        </div>

    </div>
</div>
{% endblock %}
