<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/static/css/sopin.css" />

        <title>{{ site_title }}</title>
    </head>
    <body>

        <header class="navbar navbar-static-top" role="navigation">
            <a href="{% url 'homepage' %}" class="navbar-brand">{{ site_title }}</a>


            <div class="btn-toolbar pull-right">
                <a href="{% url 'item_maintenance' %}">Items</a>

                <button class="reports">Reports</button>
            </div>
        </header>

        <div class="left-pane col-xs-9">
            <div>
                <h2>Shipping Rounds</h2>

                <button id="btn_new_round">New Round</button>
            </div>

            <div>
                No rounds scheduled
            </div>
        </div>

        <div class="right-pane col-xs-3">
            <div>
                <h2>Items Needed</h2>
            </div>

            <div>
                No items needed
            </div>
        </div>

        <div class="clearfix"></div>

        <footer>
            {{ site_title }} {{ site_version }} &mdash; Copyright 2014 <a href="http://sudaraka.org/contact">Sudaraka Wijesinghe</a> &mdash; <a href="https://www.gnu.org/licenses/agpl.html">AGPL</a> version 3 or later &mdash; <a href="https://github.com/sudaraka/sopin-web" target="_new">source code</a>
        </footer>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>

    </body>
</html>
