<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title">New Item</a>
</div>

<form id="item_form" method="post" action="{% url 'item_maintenance_form' %}">
    {% csrf_token %}

    <div class="modal-body">
        {% for field in form %}

            {% if 'heavy' == field.html_name %}

            <div class="form-group col-xs-12">
                <div class="checkbox">
                    <label for="{{ field.id_for_label }}">
                        {{ field }} {{ field.label }}</label>
                </div>

                {{ field.errors }}
            </div>

            {% elif 'unit_weight' == field.html_name %}

            <div class="form-group col-xs-12 col-sm-6">
                {{ field.label_tag }}
                <div class="input-group">
                    {{ field }}
                    <span class="input-group-addon">grams</span>
                </div>

                {{ field.errors }}
            </div>

            {% elif 'extended_threshold' == field.html_name or 'purchase_threshold' == field.html_name %}

            <div class="form-group col-xs-12 col-sm-6">
                {{ field.label_tag }}
                <div class="input-group">
                    {{ field }}
                    <span class="input-group-addon">days</span>
                </div>

                {{ field.errors }}
            </div>

            {% else %}

            <div class="form-group col-xs-12
                {% if 'name' != field.name %} col-sm-6{% endif %}">
                {{ field.label_tag }}
                {{ field }}

                {{ field.errors }}
            </div>

            {% endif %}

        {% endfor %}
    <div class="clearfix"></div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Save Item
        </button>
    </div>

</form>

<script>
$(function(){

    $('#item_form').validate({
        messages: {
            name: 'Item name cannot be blank',
            unit_weight: {
                required: 'Unit weight cannot be blank.',
                number: 'Unit weight must be a number'
            },
            purchase_threshold: {
                required: 'Purchase threshold cannot be blank',
                number: 'Purchase threshold must be a number',
            }
        },
        errorClass: 'has-error',
        validClass: 'has-success',
        errorElement: 'span',
        errorClass: 'text-danger',
        errorPlacement: function(err, elm) {
            err.appendTo(elm.closest('.form-group'));
        },
        highlight: function(elm) {
            var group_div = $(elm).closest('.form-group');

            group_div
                .removeClass('has-success')
                .addClass('has-error')
                ;
        },
        submitHandler: function(form) {
            var form_data = $(form).serialize();

            $('*', form).prop('disabled', true);

            $.post($(form).prop('action'), form_data)
                .fail(function(result, status, error) {
                    $('.modal-body .alert').remove();

                    $('<div>')
                        .addClass('alert alert-danger')
                        .text(error)
                        .appendTo('.modal-body')
                        ;

                    $('*', form).prop('disabled', false);
                })
                .done(function(result, status, xhr) {
                    //location.reload();
                })
                ;
        }
    });

});
</script>
