{% extends 'base.html' %}

{% block javascripts %}
<script src="/static/js/jquery.validate.js"></script>
<script type="text/javascript">
//<![CDATA[

$('#div_item_form').on('hidden.bs.modal', function() {
  $(this).removeData('bs.modal');
});

$('#div_item_delete').on('show.bs.modal', function(e) {
    $('#lnk_delete_confirm').prop('href', $(e.relatedTarget).data('url'));

    $('.modal-body', this)
        .append('Remove item ')
        .append(
            $('<strong>')
                .text(
                    $('td.name', $(e.relatedTarget).closest('tr'))
                       .text()
                )
        )
        .append('?')
        ;
});

{% if messages %}
window.setTimeout("$('p.row.alert').hide(function(){ $(this).remove(); });", 5000);
{% endif %}

//]>
</script>
{% endblock %}

{% block content %}

<div class="container">

    <div class="page-header">

        {% if messages %}
            {% for m in messages %}
            <p class="row alert{% if m.tags %} alert-{{ m.tags }}{% endif %}">{{ m }}</p>
            {% endfor %}
        {% endif %}

        <div class="clearfix"></div>

        <h3 class="col-xs-10">Item Maintenance</h3>

        <button type="button" id="btn_new_item"
            class="btn btn-success" data-toggle="modal"
            data-target="#div_item_form" data-backdrop="static"
            data-remote="{% url 'item_maintenance_form' %}">
            <i class="fa fa-file"></i>
            <span class="hidden-xs hidden-sm">Add New Item</span>
        </button>

        <div class="clearfix"></div>
    </div>

    <div class="items-table">
        {% if item_list %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="unit_symbol text-right">Unit Symbol</th>
                        <th class="unit_weight text-right">Unit Weight</th>
                        <th class="purchase_threshold text-right">Purchase Threshold</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in item_list %}
                    <tr>
                        <td class="name">{{ item.name }}</td>
                        <td class="unit_symbol text-right">{{ item.unit_symbol }}</td>
                        <td class="unit_weight text-right">
                            {% if item.heavy %}<sup><small class="fa fa-anchor text-info"></small></sup>{% endif %}
                            {{ item.unit_weight }}g
                        </td>
                        <td class="purchase_threshold text-right">{{ item.purchase_threshold|add:item.extended_threshold }} days</td>
                        <td>
                            <button type="button"
                                class="btn btn-default btn-sm btn-edit"
                                data-toggle="modal" data-backdrop="static"
                                data-target="#div_item_form"
                                data-remote="{% url 'item_maintenance_form' item.id %}">
                                <i class="fa fa-edit"></i></button>
                            <button type="button"
                                class="btn btn-danger btn-sm btn-delete"
                                data-toggle="modal" data-backdrop="static"
                                data-keyboard="false"
                                data-target="#div_item_delete"
                                data-url="{% url 'item_maintenance_delete' item.id %}">
                                <strong>&times;</strong></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No items available
        {% endif %}
    </div>

</div>

<div id="div_item_form" class="modal fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div id="div_item_delete" class="modal fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" id="lnk_delete_confirm">Yes</a>
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
